<?xml version="1.0" encoding="UTF-8"?>
<web-app
        version="4.0"
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                            http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <display-name>Job Portal WebApp</display-name>

    <!-- =========== Spring ContextLoaderListener =========== -->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>

    <!-- =========== Auth =================================== -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <!-- =========== Jobs =================================== -->
    <servlet>
        <servlet-name>PostJobServlet</servlet-name>
        <servlet-class>servlet.PostJobServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostJobServlet</servlet-name>
        <url-pattern>/postjob</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewJobsServlet</servlet-name>
        <servlet-class>servlet.ViewJobsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewJobsServlet</servlet-name>
        <url-pattern>/viewjobs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchJobServlet</servlet-name>
        <servlet-class>servlet.SearchJobServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchJobServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <!-- =========== Import / Export ======================== -->
    <servlet>
        <servlet-name>ImportJobsServlet</servlet-name>
        <servlet-class>servlet.ImportJobsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImportJobsServlet</servlet-name>
        <url-pattern>/import-jobs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExportJobsServlet</servlet-name>
        <servlet-class>servlet.ExportJobsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportJobsServlet</servlet-name>
        <url-pattern>/export-jobs</url-pattern>
    </servlet-mapping>

    <!-- =========== Welcome files ========================== -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
